body {
  font-family: Poppins, sans-serif;
  background-color: #f5f5f5;
  text-align: center;
  margin-top: 50px;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  display: inline-block;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #0078ff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

img {
  margin-top: 20px;
  width: 400px;
  border-radius: 10px;
}